//! **************************************************************************
// Written by: Map J.30 on Thu Apr 23 11:06:53 2009
//! **************************************************************************

SCHEMATIC START;
COMP "wd" LOCATE = SITE "C6" LEVEL 1;
COMP "clk" LOCATE = SITE "AE14" LEVEL 1;
COMP "ser_rxd" LOCATE = SITE "W2" LEVEL 1;
COMP "ser_txd" LOCATE = SITE "W1" LEVEL 1;
COMP "sram_addr<0>" LOCATE = SITE "Y1" LEVEL 1;
COMP "sram_addr<1>" LOCATE = SITE "Y2" LEVEL 1;
COMP "sram_addr<2>" LOCATE = SITE "AA1" LEVEL 1;
COMP "sram_addr<3>" LOCATE = SITE "AB1" LEVEL 1;
COMP "sram_addr<4>" LOCATE = SITE "AB2" LEVEL 1;
COMP "sram_addr<5>" LOCATE = SITE "AC1" LEVEL 1;
COMP "sram_addr<6>" LOCATE = SITE "AC2" LEVEL 1;
COMP "sram_addr<7>" LOCATE = SITE "AD1" LEVEL 1;
COMP "sram_addr<8>" LOCATE = SITE "AD2" LEVEL 1;
COMP "sram_addr<9>" LOCATE = SITE "AE3" LEVEL 1;
COMP "sram_data<0>" LOCATE = SITE "AD13" LEVEL 1;
COMP "sram_data<1>" LOCATE = SITE "AC13" LEVEL 1;
COMP "sram_data<2>" LOCATE = SITE "AC15" LEVEL 1;
COMP "sram_data<3>" LOCATE = SITE "AC16" LEVEL 1;
COMP "sram_data<4>" LOCATE = SITE "AA11" LEVEL 1;
COMP "sram_data<5>" LOCATE = SITE "AA12" LEVEL 1;
COMP "sram_data<6>" LOCATE = SITE "AD14" LEVEL 1;
COMP "sram_data<7>" LOCATE = SITE "AC14" LEVEL 1;
COMP "sram_data<8>" LOCATE = SITE "AA13" LEVEL 1;
COMP "sram_data<9>" LOCATE = SITE "AB13" LEVEL 1;
COMP "sram_oe_n" LOCATE = SITE "AC6" LEVEL 1;
COMP "sram_we_n" LOCATE = SITE "AB6" LEVEL 1;
COMP "sram_addr<10>" LOCATE = SITE "AF3" LEVEL 1;
COMP "sram_addr<11>" LOCATE = SITE "W3" LEVEL 1;
COMP "sram_addr<12>" LOCATE = SITE "W6" LEVEL 1;
COMP "sram_addr<20>" LOCATE = SITE "AC5" LEVEL 1;
COMP "sram_addr<13>" LOCATE = SITE "W5" LEVEL 1;
COMP "sram_addr<14>" LOCATE = SITE "AA3" LEVEL 1;
COMP "sram_addr<15>" LOCATE = SITE "AA4" LEVEL 1;
COMP "sram_addr<16>" LOCATE = SITE "AB3" LEVEL 1;
COMP "sram_addr<17>" LOCATE = SITE "AB4" LEVEL 1;
COMP "sram_addr<18>" LOCATE = SITE "AC4" LEVEL 1;
COMP "sram_addr<19>" LOCATE = SITE "AB5" LEVEL 1;
COMP "sram_feedback_clk" LOCATE = SITE "AD17" LEVEL 1;
COMP "sram_bw0" LOCATE = SITE "Y6" LEVEL 1;
COMP "sram_bw1" LOCATE = SITE "Y5" LEVEL 1;
COMP "sram_bw2" LOCATE = SITE "Y4" LEVEL 1;
COMP "sram_bw3" LOCATE = SITE "Y3" LEVEL 1;
COMP "sram_cen" LOCATE = SITE "V7" LEVEL 1;
COMP "sram_clk" LOCATE = SITE "AF7" LEVEL 1;
COMP "sram_data<10>" LOCATE = SITE "AA15" LEVEL 1;
COMP "sram_data<11>" LOCATE = SITE "AA16" LEVEL 1;
COMP "sram_data<12>" LOCATE = SITE "AC11" LEVEL 1;
COMP "sram_data<20>" LOCATE = SITE "D11" LEVEL 1;
COMP "sram_data<13>" LOCATE = SITE "AC12" LEVEL 1;
COMP "sram_data<21>" LOCATE = SITE "C11" LEVEL 1;
COMP "sram_data<14>" LOCATE = SITE "AB14" LEVEL 1;
COMP "sram_data<22>" LOCATE = SITE "E14" LEVEL 1;
COMP "sram_data<30>" LOCATE = SITE "F13" LEVEL 1;
COMP "sram_data<15>" LOCATE = SITE "AA14" LEVEL 1;
COMP "sram_data<23>" LOCATE = SITE "D15" LEVEL 1;
COMP "sram_data<31>" LOCATE = SITE "F14" LEVEL 1;
COMP "sram_data<16>" LOCATE = SITE "D12" LEVEL 1;
COMP "sram_data<24>" LOCATE = SITE "D13" LEVEL 1;
COMP "sram_data<17>" LOCATE = SITE "E13" LEVEL 1;
COMP "sram_data<25>" LOCATE = SITE "D14" LEVEL 1;
COMP "sram_data<18>" LOCATE = SITE "C16" LEVEL 1;
COMP "sram_data<26>" LOCATE = SITE "F15" LEVEL 1;
COMP "sram_data<19>" LOCATE = SITE "D16" LEVEL 1;
COMP "sram_data<27>" LOCATE = SITE "F16" LEVEL 1;
COMP "sram_data<28>" LOCATE = SITE "F11" LEVEL 1;
COMP "sram_data<29>" LOCATE = SITE "F12" LEVEL 1;
COMP "sram_adv_ld_n" LOCATE = SITE "W4" LEVEL 1;
PIN ser_txd_OBUF_pins<1> = BEL "ser_txd_OBUF" PINNAME OUT;
PIN ser_rxd_pins<0> = BEL "ser_rxd" PINNAME PAD;
PIN "ser_txd_OBUF_pins<1>" TIG;
PIN "ser_rxd_pins<0>" TIG;
SCHEMATIC END;
